html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ReactModal__Content {
  inset: unset !important;
  width: 412px !important;
  margin: auto !important;
  border: none !important;
  padding: 0 !important;
  overflow: visible !important;
  border-radius: 10px !important;
  top: 50% !important;
  left: 50% !important ;
  transform: translate3d(-50%, -50%, 0);
  box-shadow: 0 0 15px #555;
  text-align: center;
}

.ReactModal__Content input{
  padding:8px 2px;
  margin-left:5px;
  width:200px;
  outline: none;
  border:1px solid #ccc;
  border-radius:6px;
}

.modal--header,
.modal--body,
.modal--footer {
  padding: 20px;
}

.modal--header {
  margin: 0;
  border-radius:6px 6px 0 0;
  background: #eee;
  /* color:#fff; */
}

.modal--body {
  margin: 0;
}

.modal--footer button {
  margin-left: 8px;
  width:85px;
  height: 35px;
  border-radius: 6px;
  border: none;
  margin:0 10px;
  color:#fff;
  border: 1px solid #0081cc;
  background: #0081cc;
}
.modal--footer button:first-child{
  background: none;
  color:#0081cc;
}
